<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Computador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img
            src="https://images.kabum.com.br/produtos/fotos/147335/gabinete-gamer-xwise-enterprise-mid-tower-lateral-em-vidro-temperado-preto-6610_1611679103_gg.jpg"
            alt="">
          <ion-card-content>
            <p>
              <strong>
                Gabinete Gamer
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge color="tertiary">R$2500.00</ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="https://cf.shopee.com.br/file/36a5784b5318645dad3ee4e0715510f3"
            alt="">
          <ion-card-content>
            <p>
              <strong>
                Gabinete Gamer
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge color="tertiary">R$3000.00</ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img
            src="https://s2.glbimg.com/d2XYw_KVH-_Gfw1upuZlgF8yWkw=/0x0:695x500/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2021/X/g/wXRGM4SC6BRe0TV4TBYQ/2016-03-18-aerocool-black-edition.jpg"
            alt="">
          <ion-card-content>
            <p>
              <strong>
                Gabinete Padrão
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge color="tertiary">R$1500.00</ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="https://c1.neweggimages.com/ProductImage/11-139-141-V01.jpg"
            alt="">
          <ion-card-content>
            <p>
              <strong>
                Gabinete Clean
              </strong>
            </p>
            <p class="ion-text-right">
              <ion-badge color="tertiary">R$1000.00</ion-badge>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>