<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Periféricos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>

  <ion-item>

    <ion-thumbnail slot="start">

      <img src="https://http2.mlstatic.com/D_NQ_NP_916914-MLA46540739257_062021-O.jpg">

    </ion-thumbnail>

    <ion-label>Fone</ion-label>

    <ion-badge color="tertiary">R$60.00</ion-badge>

  </ion-item>


  <ion-item>

    <ion-thumbnail slot="start">

      <img src="https://images.kabum.com.br/produtos/fotos/168358/monitor-gamer-samsung-led-27-ips-full-hd-5ms-vesa-free-sync-modo-gaming-preto-lf27t350fhlmzd_1631886427_original.jpg">

    </ion-thumbnail>

    <ion-label>Monitor</ion-label>

    <ion-badge color="tertiary">R$1500.00</ion-badge>

  </ion-item>
  <ion-item>

    <ion-thumbnail slot="start">

      <img src="https://thermaltake.azureedge.net/pub/media/catalog/product/cache/6bf0ed99c663954fafc930039201ed07/l/2/l20m01.jpg">

    </ion-thumbnail>

    <ion-label>Mouse</ion-label>

    <ion-badge color="tertiary">R$100.00</ion-badge>

  </ion-item>


  <ion-item>

    <ion-thumbnail slot="start">

      <img src="https://img.terabyteshop.com.br/produto/g/teclado-gamer-hyperx-alloy-core-rgb-membrana-abnt2-hx-kb5me2-br_101317.jpg">

    </ion-thumbnail>

    <ion-label>Teclado</ion-label>

    <ion-badge color="tertiary">R$250.00</ion-badge>

  </ion-item>

</ion-content>