<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <img src="assets/foto.jpg" alt=""> 
  <ion-card>        
    <ion-card-header>       
      <ion-card-title>Chris Evans</ion-card-title>     
    </ion-card-header> 
    <ion-item>
      <ion-icon name="accessibility-outline" slot="start"></ion-icon>

      <ion-label>Chris Evans</ion-label>

    </ion-item>
    <ion-item>

      <ion-icon name="at-outline" slot="start"></ion-icon>

      <ion-label>chrisevans123@gmail.com</ion-label>

    </ion-item>
    <ion-item>

      <ion-icon name="mail-outline" slot="start"></ion-icon>

      <ion-label>www.TheChisEvans.com.br</ion-label>

    </ion-item>
    <ion-item>

      <ion-icon name="logo-instagram" slot="start"></ion-icon>

      <ion-label>@chris_evans</ion-label>

    </ion-item>
    <ion-item>

      <ion-icon name="logo-github" slot="start"></ion-icon>

      <ion-label>thechris01</ion-label>

    </ion-item>

    <ion-item>

      <ion-icon name="analytics-outline" slot="start"></ion-icon>

      <ion-label>Versao 0.0.1</ion-label>

    </ion-item>
  </ion-card>
</ion-content>